 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 96px;
}
#office-form {
    float:right;
}
h3 {
    margin-top:0.5em;
}

header {
    box-sizing: border-box;
    position:fixed;
    top:0;
    width:100%;
    
    padding:10px;
    height:94px;
    
    background-color:#222;
    color:white;
    
    font-size: 10px;
    z-index: 10;
}
header select {
    font-size: 10px;
}

#students nav {
    float:right;
}

header nav {
    clear:both;
    text-align: right;
    margin-top:36px;
}
header nav a, #students nav a {
    box-sizing: border-box;
    display:inline-block;
    height:32px;
    padding:0.6em;
    background-color:#cacaca;
    color: rgb(65, 65, 65);
    text-decoration:none;
    font-weight: bolder;
    border-radius: 5px;
}

header nav a.active, #students nav a.active {
    background-color: #ffe521;
    color:black;
}

#students nav a {
    padding:0.4em;
}

#logo {
    float:left;
    width: 26px;
    height: 26px;
    background-image: url('../assets/images/logo_resumido.png');
    background-size: 100%;
    text-indent: -5000px;
    
}

section, main#students {
    padding:1em;
    background-color:#F0F0F0;  
    color:black;
}

section#office {
   background-color:#F0F0F0;  
   color:black;
}

section#cohort {
    margin:0;
    background-color:#222;
    color:white;
}

section#cohort h3 {
    color:black;
}

.cards::after {
    display: block;
    content: "";
    clear: both;
}

.card {
    box-sizing: border-box;
    padding: 0.5em;
    width:100%;
    float: left;
    
}
.content {
    position: relative;
    box-sizing: border-box;
    padding: 0.5em 0.5em 3em 0.5em;
    background-color: white;
    border-radius: 0.5em;
}


#students  .content img {
    float:left;
    width: 5em;
    height:5em;
    border-radius: 2.5em;
}
#students  .content h3 {
    float:left;
    margin-top: 1.5em;
    margin-left: 0.5em;
}
#students .content::after{
    display: block;
    content: "";
    clear: both;
}   

#students .sprints {
    clear:both;
    margin-top:6em;
}

#students .statuses  {
    position: absolute;
    bottom:0.5em;
    right:0.5em;
    color:white;
    font-size: 12px;
}
#students .statuses span {
    display:inline-block;
    border-radius: 0.5em;
    padding:0.5em;
}

#students .statuses span.fail {
    background:#db4437;
}
#students .statuses span.success {
    background:#4285f4;
} 
@media (min-width: 576px) {
    body {
        margin-top: 96px;
    }
    header {
        box-sizing: border-box;
        position:fixed;
        top:0;
        width:100%;
        
        padding:10px;
        height:94px;
        background-color:black;
        color:white;
        
        font-size: 14px;
    }
    header select {
        font-size: 14px;
    }
    
    #logo {
        width: 169px;
        height: 29px;
        background-image: url('../assets/images/laboratoria_logo.png');
        background-size: 100%;
        text-indent: -5000px;
    }
}
.dummy {
    box-sizing: border-box;
    background-color: #DDD;
    height:200px;
    border-radius: 0.3em;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    padding:3.5em;
}

@media (min-width: 576px) {
    .card { width: 100%; } /* 1 column */
 }
@media (min-width: 768px) {
   .card { width: 50%; } /* 2 columns */
}
@media (min-width: 992px) {
    .card { width: 33%; } /* 3 columns */
}
@media (min-width: 1200px) {
    .card { width: 25%; } /* 4 columns */
}